:root {
    --first-color: #ff00ff;
    --second-color: #00ffff;
    --third-color: #5555ff;
    --first-background: #000055;
    --seсond-background: #550077;
    --second-background-t: #00555599;
    --neutral: #8888cc;
    --bright: #ffffff;
    --k: 1000;
    --c: 3000;
}

/* Заголовок Сайта */
@font-face {
    font-family: Title-font;
    src: url(Предпосылки/Invader.ttf);
}
/* Меню страниц */
@font-face {
    font-family: Menu1-font;
    src: url(Предпосылки/LaBamba.ttf);
}
/* Меню блоков */
@font-face {
    font-family: Menu2-font;
    src: url(Предпосылки/Foxcroft.otf);
}
/* Подпись под философами */
@font-face {
    font-family: Hand-font;
    src: url(Предпосылки/Papyrus.otf);
}
/* Оборотка философов */
@font-face {
    font-family: Text-font;
    src: url(Предпосылки/Lore.ttf);
}
/* Слайды */
@font-face {
    font-family: Slide-font;
    src: url(Предпосылки/Rupster.ttf);
}

.name h1 {
    font-size: 5vmax;
    font-family: Title-font;

    text-shadow: #000000 calc(60vmax / var(--k) * 01)
            calc(60vmax / var(--k) * 01 / 1.3),
        #001133 calc(60vmax / var(--k) * 02) calc(60vmax / var(--k) * 02 / 1.3),
        #002244 calc(60vmax / var(--k) * 03) calc(60vmax / var(--k) * 03 / 1.3),
        #003355 calc(60vmax / var(--k) * 04) calc(60vmax / var(--k) * 04 / 1.3),
        #004466 calc(60vmax / var(--k) * 05) calc(60vmax / var(--k) * 05 / 1.3),
        #005577 calc(60vmax / var(--k) * 06) calc(60vmax / var(--k) * 06 / 1.3),
        #006688 calc(60vmax / var(--k) * 07) calc(60vmax / var(--k) * 07 / 1.3),
        #007799 calc(60vmax / var(--k) * 08) calc(60vmax / var(--k) * 08 / 1.3),
        #0088aa calc(60vmax / var(--k) * 09) calc(60vmax / var(--k) * 09 / 1.3),
        #0099bb calc(60vmax / var(--k) * 10) calc(60vmax / var(--k) * 10 / 1.3),
        #00aacc calc(60vmax / var(--k) * 11) calc(60vmax / var(--k) * 11 / 1.3),
        #00bbdd calc(60vmax / var(--k) * 12) calc(60vmax / var(--k) * 12 / 1.3),
        #00ccee calc(60vmax / var(--k) * 13) calc(60vmax / var(--k) * 13 / 1.3),
        #00ddff calc(60vmax / var(--k) * 14) calc(60vmax / var(--k) * 14 / 1.3);
}

.main-nav a[href="#page1"],
.main-nav a[href="#page1"]:hover,
.main-nav a[href="#page1"]:active {
    color: var(--first-color);
    font-weight: bold;
}

.main-nav li a {
    text-decoration: none;
    color: var(--second-color);
    text-shadow: #000000 0 0 0,
        #330011 calc(100vw / var(--c) * 4) calc(100vw / var(--c) * 4)
            calc(100vw / 1200 * 4),
        #770044 calc(100vw / var(--c) * 5) calc(100vw / var(--c) * 5)
            calc(100vw / 1200 * 5),
        #aa0077 calc(-100vw / var(--c) * 6) calc(-100vw / var(--c) * 6)
            calc(100vw / 1200 * 6),
        #bb00aa calc(100vw / var(--c) * 6) calc(100vw / var(--c) * 6)
            calc(100vw / 1200 * 6),
        #cc00bb calc(-100vw / var(--c) * 12) calc(-100vw / var(--c) * 12)
            calc(100vw / 1200 * 12),
        #ff00cc calc(100vw / var(--c) * 12) calc(100vw / var(--c) * 12)
            calc(100vw / 1200 * 12);
    font-weight: bold;
}

.anchor-nav a {
    text-decoration: none;
    color: var(--second-color);
    text-shadow: #111111 calc(60vmax / var(--k) * 01)
            calc(60vmax / var(--k) * 01 / 1.3),
        #333333 calc(60vmax / var(--k) * 02) calc(60vmax / var(--k) * 02 / 1.3),
        #444444 calc(60vmax / var(--k) * 03) calc(60vmax / var(--k) * 03 / 1.3),
        #555555 calc(60vmax / var(--k) * 04) calc(60vmax / var(--k) * 04 / 1.3),
        #666666 calc(60vmax / var(--k) * 05) calc(60vmax / var(--k) * 05 / 1.3),
        #777777 calc(60vmax / var(--k) * 06) calc(60vmax / var(--k) * 06 / 1.3),
        #888888 calc(60vmax / var(--k) * 07) calc(60vmax / var(--k) * 07 / 1.3),
        #999999 calc(60vmax / var(--k) * 08) calc(60vmax / var(--k) * 08 / 1.3),
        #aaaaaa calc(60vmax / var(--k) * 09) calc(60vmax / var(--k) * 09 / 1.3),
        #bbbbbb calc(60vmax / var(--k) * 10) calc(60vmax / var(--k) * 10 / 1.3),
        #cccccc calc(60vmax / var(--k) * 11) calc(60vmax / var(--k) * 11 / 1.3),
        #dddddd calc(60vmax / var(--k) * 12) calc(60vmax / var(--k) * 12 / 1.3),
        #eeeeee calc(60vmax / var(--k) * 13) calc(60vmax / var(--k) * 13 / 1.3),
        #ffffff calc(60vmax / var(--k) * 14) calc(60vmax / var(--k) * 14 / 1.3);
    font-weight: 900;
}
