:root {
    --first-color: #9900ff;
    --second-color: #ff3300;
    --third-color: #331100;
    --first-background: #110044;
    --seсond-background: #220077;
    --second-background-t: #77004499;
    --neutral: #5555cc;
    --bright: #ff00ff;
    --k: 1000;
    --c: 3000;
}

/* Заголовок Сайта */
@font-face {
    font-family: Title-font;
    src: url(Переосмысление/Payload.otf);
}
/* Меню страниц */
@font-face {
    font-family: Menu1-font;
    src: url(Переосмысление/Duedate.ttf);
}
/* Меню блоков */
@font-face {
    font-family: Menu2-font;
    src: url(Переосмысление/Cameron.otf);
}
/* Подпись под философами */
@font-face {
    font-family: Hand-font;
    src: url(Переосмысление/Hamiltone.otf);
}
/* Оборотка философов */
@font-face {
    font-family: Text-font;
    src: url(Переосмысление/Cezanne.otf);
}
/* Слайды */
@font-face {
    font-family: Slide-font;
    src: url(Переосмысление/ClickClack.otf);
}

.name h1 {
    font-size: 3vmax;
    font-family: Title-font;

    text-shadow: #000000 calc(60vmax / var(--k) * 01)
            calc(60vmax / var(--k) * 01 / 1.3),
        #330100 calc(60vmax / var(--k) * 02) calc(60vmax / var(--k) * 02 / 1.3),
        #440300 calc(60vmax / var(--k) * 03) calc(60vmax / var(--k) * 03 / 1.3),
        #550500 calc(60vmax / var(--k) * 04) calc(60vmax / var(--k) * 04 / 1.3),
        #660700 calc(60vmax / var(--k) * 05) calc(60vmax / var(--k) * 05 / 1.3),
        #771000 calc(60vmax / var(--k) * 06) calc(60vmax / var(--k) * 06 / 1.3),
        #881200 calc(60vmax / var(--k) * 07) calc(60vmax / var(--k) * 07 / 1.3),
        #991600 calc(60vmax / var(--k) * 08) calc(60vmax / var(--k) * 08 / 1.3),
        #aa1800 calc(60vmax / var(--k) * 09) calc(60vmax / var(--k) * 09 / 1.3),
        #bb2000 calc(60vmax / var(--k) * 10) calc(60vmax / var(--k) * 10 / 1.3),
        #cc2300 calc(60vmax / var(--k) * 11) calc(60vmax / var(--k) * 11 / 1.3),
        #dd2700 calc(60vmax / var(--k) * 12) calc(60vmax / var(--k) * 12 / 1.3),
        #ee3000 calc(60vmax / var(--k) * 13) calc(60vmax / var(--k) * 13 / 1.3),
        #ff3300 calc(60vmax / var(--k) * 14) calc(60vmax / var(--k) * 14 / 1.3);
}

.main-nav {
    margin-top: 2vh;
    font-size: 1.2vmax;
}

.main-nav a[href="#page3"],
.main-nav a[href="#page3"]:hover,
.main-nav a[href="#page3"]:active {
    color: var(--first-color);
    font-weight: bold;
    font-size: 1.5vmax;
}

.main-nav li a {
    text-decoration: none;
    color: var(--second-color);
    text-shadow: #000000 0 0 0,
        #220088 calc(100vw / var(--c) * 4) calc(100vw / var(--c) * 4)
            calc(100vw / 1200 * 4),
        #331199 calc(100vw / var(--c) * 5) calc(100vw / var(--c) * 5)
            calc(100vw / 1200 * 5),
        #4422aa calc(-100vw / var(--c) * 6) calc(-100vw / var(--c) * 6)
            calc(100vw / 1200 * 6),
        #5533bb calc(100vw / var(--c) * 6) calc(100vw / var(--c) * 6)
            calc(100vw / 1200 * 6),
        #6644cc calc(-100vw / var(--c) * 12) calc(-100vw / var(--c) * 12)
            calc(100vw / 1200 * 12),
        #7755ff calc(100vw / var(--c) * 12) calc(100vw / var(--c) * 12)
            calc(100vw / 1200 * 12);
    font-weight: bold;
}

p {
    font-size: 3vmin;
}

.anchor-nav a {
    text-decoration: none;
    color: var(--second-color);
    text-shadow: #111111 calc(60vmax / var(--k) * 01)
            calc(60vmax / var(--k) * 01 / 1.3),
        #111133 calc(60vmax / var(--k) * 02) calc(60vmax / var(--k) * 02 / 1.3),
        #111144 calc(60vmax / var(--k) * 03) calc(60vmax / var(--k) * 03 / 1.3),
        #222255 calc(60vmax / var(--k) * 04) calc(60vmax / var(--k) * 04 / 1.3),
        #222266 calc(60vmax / var(--k) * 05) calc(60vmax / var(--k) * 05 / 1.3),
        #333377 calc(60vmax / var(--k) * 06) calc(60vmax / var(--k) * 06 / 1.3),
        #444488 calc(60vmax / var(--k) * 07) calc(60vmax / var(--k) * 07 / 1.3),
        #444499 calc(60vmax / var(--k) * 08) calc(60vmax / var(--k) * 08 / 1.3),
        #5555aa calc(60vmax / var(--k) * 09) calc(60vmax / var(--k) * 09 / 1.3),
        #6666bb calc(60vmax / var(--k) * 10) calc(60vmax / var(--k) * 10 / 1.3),
        #6666cc calc(60vmax / var(--k) * 11) calc(60vmax / var(--k) * 11 / 1.3),
        #7777dd calc(60vmax / var(--k) * 12) calc(60vmax / var(--k) * 12 / 1.3),
        #8888ee calc(60vmax / var(--k) * 13) calc(60vmax / var(--k) * 13 / 1.3),
        #9999ff calc(60vmax / var(--k) * 14) calc(60vmax / var(--k) * 14 / 1.3);
    font-weight: 900;
}
